body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    padding: 0; margin: 0;
    background: hsl(200, 10%, 10%);
    color: #fff;
}

a { 
    color: hsl(200, 50%, 45%); }
a:visited {
    color: hsl(270, 50%, 55%); }

.block {
    padding: 16px;
    border-radius: 0;
    background: hsl(200, 10%, 15%);
}
.block > :first-child {
    margin-top: 0; }
.block > :last-child {
    margin-bottom: 0; }

h3 { 
    margin: 0;
    margin-bottom: 8px;
    font-size: 20px;
}

header {
    background: hsl(330, 50%, 45%);
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 8px 16px;
}

header h2 { 
    margin: 4px 0;
    flex-grow: 1;
    font-size: 22px;
}
header  a, header a:visited, header a:active {
    color: #fff;
    text-decoration: none;
}

header > *:not(:last-child) {
    margin-right: 16px;
}

main { 
    padding: 16px;
    max-width: 1024px;
    margin: auto;
    margin-top: 16px;
}

h1 {
    margin-top: 0;
    font-size: 28px;
    text-align: center;
}

.button, button, ::file-selector-button {
    border: 0;
    background: hsl(330, 50%, 45%);
    color: #fff !important;
    text-decoration: none !important;
    cursor: pointer;
    display: inline-block;
    padding: 4px 8px;
    border-radius: 0;
    font-size: 15px;
}

input[type=color] {
    background: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
}
input[type=color]:active {
    filter: brightness(75%);
}
::-moz-color-swatch, ::-webkit-color-swatch {
    border: 0;
}

.input {
    color: #fff;
    padding: 4px 8px;
    border: 2px solid hsla(0, 0%, 50%, 0.5);
    background: transparent;
}
.input::placeholder {
    color: rgba(255,255,255,0.5);
}
.input:focus {
    border-color: hsl(330, 50%, 45%);
    outline: none;
}

.button:active, button:active, ::file-selector-button:active {
    background: hsl(330, 55%, 35%);
}

.button.accent, button.accent {
    background: hsl(100, 45%, 45%); }
.button.accent:active, button.accent:active {
    background: hsl(100, 45%, 35%); }

.panel-2 {
    display:flex;flex-direction:row;
    align-items: flex-start;
}

@media (max-width: 720px) {
    .panel-2 {
        flex-direction: column;
        align-items: stretch;
    }
}

.g_id_signin div {
    border-radius: 0 !important;
}

.folder {
    display: block;
}
.folder-title {
    display: block;
    color: #fff !important;
    background: hsl(200, 10%, 15%);
    padding: 8px 16px;
    text-decoration: none; }
.folder-content {
    background: hsl(200, 10%, 11%);
    padding: 16px;
    display: none; }
.folder-content > :first-child { margin-top: 0; }

.folder:target > .folder-content {
    display: block;  }
.folder:target > .folder-title {
    background: hsl(330, 50%, 45%); }
